.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 49.5%;

  .product {
    margin: 10px;
    padding: 10px;
    border: 2px #6cb0b9 solid;
    border-radius: 5px;
    width: 95%;
    background: #bfeaf0;
    font-size: 19px;

    &:hover {
      cursor: pointer;
      background: #92cfd8;
    }
  }
}

.right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border: 1px rebeccapurple solid;
  width: 49.5%;
  height: 98vh;
  border-radius: 5px;
}
